$go-dark:rgb(61, 61, 61);
$go-light:rgb(239, 239, 239);
$go-yellow:rgb(255, 228, 0);

$go-cubes:url('/game_on/app/img/cubebg.png') !important;
$go-hexagons:url('/game_on/app/img/hexabg.png') !important;
