.main-header{
	height:60px;
	background: $go-dark;
	font-family: 'Open Sans', sans-serif;

	// main logo image
	.logo-img{
		height:60px;
		float:left;

		a{
			width:auto;
			height:60px;

			img{
				height:50px;
				margin-top: 5px;
				margin-left: 5px;
			}
		}
	}

	// main heading
	.logo-text{
		width:auto;
		height:60px;
		float: left;
		margin-left:5px;

		a{
			text-decoration: none;
			
			h1{
				margin:0;
				font-size: 2em;
				color:$go-light;
				line-height: 58px;
			}
		}
	}

	.active-item{
		background:$go-active;
	}
	
	// main nav menu for large devices
	.main-menu-lg{
		float:left;
		width:300px;
		height:60px;
		margin-left: 10px;

		a{
			display: inline-block;
			width:100px;
			height:60px;
			line-height: 60px;
			margin:0 -2px;
			text-decoration: none;
			color:$go-light;
			text-align: center;

			.down-arrow{
				width:10px;
				height:5px;
				display:inline-block;
				background-image: url('../img/down-arrow.png');
				background-repeat: no-repeat;
				background-size: contain;
			}
		}
	}

	// list of platforms for large devices
	.platform-list-lg{
		display: inline-block;
		width:200px;
		height:auto;
		margin-left:-255px;
		margin-top: 60px;
		position:absolute;
		z-index:10;

		a{
			display: block;
			width:200px;
			height:60px;
			background:$go-dark;
			color:$go-light;
			text-align: center;
			line-height: 60px;
			text-decoration: none;

			&:hover{
				background:$go-active;
			}
		}
	}

	// search input for large devices
	.search-container-lg{
		position:absolute;
		width:500px;
		height:40px;
		background: $go-dark;
		margin-top:60px;
		margin-left:250px;
		z-index: 10;

		.search-lg{
			display:inline-block;
			width:400px;
			height:30px;
			margin-left: 10px;
			margin-top:5px;
			padding-left: 5px;
		}

		.search-btn-lg{
			position: absolute;
			top:5px;
			width:80px;
			height:30px;
			background: $go-light;
			border:1px solid $go-dark;
			border-left:none;
			text-decoration: none;
			color:$go-dark;
			text-align: center;
			line-height: 30px;
		}
	}

	// login and register/profile and log out buttons for large devices
	.login-logout-lg{
		float:right;
		width:200px;
		height: 60px;

		a{
			display: inline-block;
			width:100px;
			height:60px;
			line-height: 60px;
			margin:0 -2px;
			text-decoration: none;
			color:$go-light;
			text-align: center;
		}
	}

	// button to show and hide the main menu for small devices
	.show-hide-menu-sm{
		width:50px;
		height:50px;
		margin-top:5px;
		padding-top:5px;
		float:right;

		&.active{
			background: $go-active;
		}

		.menu-line{
			width:30px;
			height:10px;
			margin:0 auto;
			border-bottom:2px solid $go-light;
		}
	}	

	// main menu for small devices
	.main-menu-sm{
		width:100%;
		height:auto;
		display: block;
		float:left;

		.platform-list-sm{
			display:inline-block;
			width:100%;
			height:auto;
			float: left;

			a{
				display:inline-block;
				width:100%;
				height:60px;
				background:$go-dark;
				color:$go-light;
				text-align: center;
				line-height: 60px;
				text-decoration: none;

				&:hover{
					background:$go-active;
				}
			}
		}

		// search input for small devices
		.search-container-sm{
			display:inline-block;
			position: relative;
			width:100%;
			height:60px;
			background: $go-dark;

			.search-sm{
				display: inline-block;
				width:70%;
				height:50px;
				margin-top: 5px;
				margin-left:10px;
				padding-left: 5px;
				padding-right: 10px;
			}

			.search-btn-sm{
				position: absolute;
				top:4px;
				right:10px;
				width:28%;
				height:50px;
				border:1px solid $go-dark;
				margin-top: 1px;
				margin-left:-5px;
				background: $go-light;
				color:$go-dark;
				text-align: center;
				line-height: 50px;
			}
		}

		a{
			display:inline-block;
			width:100%;
			height:60px;
			text-align: center;
			line-height: 60px;
			color:$go-light;
			background: $go-dark;
			text-decoration: none;

			&:hover{
				background:$go-active;
			}

			.down-arrow{
				width:10px;
				height:5px;
				display:inline-block;
				background-image: url('../img/down-arrow.png');
				background-repeat: no-repeat;
				background-size: contain;
			}
		}
	}

	.login-modal{
		position:fixed;
		top:80px;
		left:0;
		right:0;
		margin:auto;
		width:400px; //earmarked
		height:280px; //earmarked
		background:$go-light;
		border:2px solid $go-dark;
		z-index: 20;

		.login-success{
			position:absolute;
			top:10px;
			left:70px;
			font-weight: bold;
		}

		.login-error{
			position:absolute;
			top:10px;
			left:70px;
			font-weight: bold;
		}

		.login-form{
			position:absolute;
			left:0;
			right:0;
			margin:auto;
			top:50px;
			width:90%;
			height:220px;

		}
	}

	.register-modal{
		position:fixed;
		top:50px;
		left:0;
		right:0;
		margin:auto;
		width:400px; //earmarked
		height:650px; //earmarked
		background:$go-light;
		border:2px solid $go-dark;
		z-index: 20;

		.register-form{
			position:absolute;
			top:50px;
			left:0;
			right:0;
			margin:auto;
			width:90%;
			height:580px;
		}
	}

	.modal-overlay{
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		min-height: 720px;
		background: rgb(0,0,0);
		opacity:0.4;
		z-index: 19;
	}

	.loading-overlay{
		position:fixed;
		width:100%;
		height:100%;
		background:$go-light;
		z-index: 9001;

		img{
			position:fixed;
			top:0;
			bottom:0;
			left:0;
			right:0;
			margin:auto;
		}
	}
}

