.slideshow{
	position: relative;
	width:80%;
	margin:20px auto;
	height:350px;
	background: $go-dark;
	border:1px solid $go-dark;
	overflow:hidden;
	box-shadow: 0 0 5px black;
	font-family: 'Open Sans', sans-serif;

	.slide{
		position: absolute;
		width:100%;
		height:350px;

		&.ng-hide-remove{
			@include animation('fadeIn 1s ease');
		}

		@include keyframes(fadeIn){
			0%{
				opacity:0;
			}
			100%{
				opacity:1;
			}
		}

		.slide-title{
			position: relative;
			display: block;
			background: $go-dark;
			z-index: 15;
			text-decoration: none;
			width:100%;
			color:$go-light;
			padding:5px 10px 10px;
			border-bottom: 3px solid $go-yellow;
			@include boxShadow(0, 0, 5px, $go-yellow);

			&:hover{
				text-decoration: none;
			}

			h2{
				margin:0;
			}
		}

		.slide-platform-author{
			position: relative;
			display:block;
			height:280px;
			margin-top:10px;
			margin-left:5px;
			z-index: 15;

			.slide-platform,
			.slide-author{
				display:inline-block;
				background: $go-dark;
			}

			.slide-platform{
				text-decoration: none;

				h3{
					font-size: 1em;
					margin:0;
					color:$go-yellow;
					padding:20px;
					@include transition(all, 0.5s, ease);

					&:hover{
						text-shadow:0 0 5px $go-yellow;
						text-decoration: none;
					}
				}
			}

			.slide-author{
				color:$go-light;
				font-size:0.8em;
				padding:5px;
				margin-top:200px;
			}
		}


		img{
			position: absolute;
			width:100%;
			height:auto;
		}

		.slideshow-overlay{
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background: rgb(0,0,0);
			opacity:0.5;
			z-index: 14;
		}
	}
	.slide-select{
		position:absolute;
		bottom:10px;
		left:0;
		right:0;
		margin: auto;
		width:300px;
		height:30px;
		text-align: center;
		z-index: 15;

		.slide-selector{
			display: inline-block;
			width:20px;
			height:20px;
			margin:5px 15px;
			border:2px solid $go-light;
			@include borderRadius(20px);

			&.selected{
				width:24px;
				height:24px;
				margin:3px 13px;
				background: $go-light;
			}
		}
	}

}

.platform-select-label{
	width:100%;
	height:30px;
	text-align: center;
	line-height: 30px;
	font-size: 1.2em;
	font-weight: bold;
}

.select-cont{
	position: relative;
	display: block;
	width:300px;
	height:50px;
	margin:auto;
	text-decoration: none;
	background: $go-dark;
	@include borderRadius(5px);

	&:hover{
		text-decoration: none;
	}

	.platform-select{
		position: absolute;
		left:0;
		top:0;
		width:300px;
		height:50px;
		color:$go-yellow;
		line-height: 50px;
		text-align:center;
	}

	.down-arrow-cont{
		position: absolute;
		right:5px;
		top:12px;
		width:15px;
		height: 50px;
	}
}

.platform-select-list{
	position: absolute;
	top:45px;
	left:0;
	right:0;
	width:300px;
	height: auto;
	min-height: 30px;
	margin:auto;
	z-index: 10;

	&.ng-hide-remove{
		@include animation('platformSelect 0.3s');

		@include keyframes(platformSelect){
			0%{
				opacity:0;
				top: 35px;
			}
			100%{
				opacity: 1;
				top:45px; 
			}
		}
	}

	.select-item{
		display: block;
		width:300px;
		height:30px;
		background: $go-dark;
		color:$go-yellow;
		text-decoration: none;
		text-align: center;
		line-height: 30px;

		&:hover{
			background: $go-active;
			text-decoration: none;
		}
	}
}
