// ----------------------------------
// phones and small tablets
// ----------------------------------
@media screen and (max-width:768px){
	// header
	.main-header{
		.main-menu-lg{
			display:none;
		}

		.login-logout-lg{
			display: none;
		}

		.show-hide-menu-sm{
			display: inline-block;
		}	

		.main-menu-sm{
			display:block;
		}

		.platform-list-lg{
			display: none;
		}

		.search-container-lg{
			display:none;
		}

	}

	// main
	.title-cont{
		text-align: center;

		.page-title{
			margin-top: 20px;
			margin-bottom:20px;
		}

	}

	.back-btn{
		display:block;
		margin:0 auto 10px;
		float:right;
	}

	.review-listing{

		.review-img{
			@include borderRadius(5px);
			width:100%;
			height:150px;
			margin:0;
			border:1px solid $go-dark;
			display:block;
			float:left;
			overflow:hidden;

			h2{
				display:block;
				width:100%;
				height:100px;
				padding-top:5px;
				padding-left:5px;
				text-align: left;
				margin:0;
				color:$go-light;
				text-shadow:0 0 2px black;
				background: rgba(0,0,0,0.4);
			}
		}

		.review-rating{
			width:120px;
			height:120px;
			right:30px;
		}

		.review-text{
			display:none;
		}
	}


	// home
	.slideshow{
		height:300px;

		.slide{
			.slide-title{
				h2{
					font-size:1.3em;
				}
			}

			.slide-platform-author{
				.slide-platform{
					h3{
						font-size: 0.8em;
						padding:15px;
					}
				}

				.slide-author{
					font-size:0.7em;
					margin-top:165px;
				}
			}


			img{
				top:0;
				left:0;
				width:auto;
				height:110%;
			}
		}

		.slide-select{
			position:absolute;
			bottom:10px;
			right:0;
			width:200px;
			height:30px;
			text-align: right;
			z-index: 15;

			.slide-selector{
				margin:5px 10px;

				&.selected{
					margin:3px 8px;
				}
			}
		}

	}

	// review
	.review-stats{
		height:250px;

		.review-score{
			width:150px;
		}

		.review-main-img{
			width:100%;
			height:120%;
		}
	}

	.comment-submit-cont{
		.comment-form{
			width:75%;

			.comment-text{
				left:10px;
				width:60%;
				max-width:60%;
			}
		}
	}

	.comment-cont{
		.comment-content{
			width:75%;
		}
	}
}

@media screen and (max-width:650px){
	.comment-submit-cont{
		.comment-form{
			width:75%;

			.comment-text{
				left:10px;
				width:60%;
				max-width:60%;
			}
		}
	}
}

@media screen and (min-width:650px) and (max-width:768px){
	.comment-submit-cont{
		.comment-form{
			width:81%;

			.comment-text{
				left:10px;
				width:74%;
				max-width:74%;
			}
		}
	}
}











// ----------------------------------
// tablets
// ----------------------------------
@media screen and (min-width:768px) and (max-width:992px){
	// header
	.main-header{
		.main-menu-lg{
			display:inline-block;
		}

		.login-logout-lg{
			display: inline-block;
		}

		.show-hide-menu-sm{
			display: none;
		}	

		.main-menu-sm{
			display:none;
		}
	}

	// main
	.title-cont{
		text-align: center;

		.page-title{
			margin-top: 20px;
			margin-bottom:20px;
		}

	}

	.back-btn{
		display:block;
		margin:0 auto 10px;
		float:right;
	}

	.review-listing{
		.review-img{
			width:50%;
			@include borderRadius(5px 0 0 5px);
		}

		.review-rating{
			left:0;
			right:0;
			width:125px;
			height:125px;
		}

		.review-text{
			width:50%;
			@include borderRadius(0 5px 5px 0);
		}
	}

	// home
	.slideshow{
		height:350px;

		.slide{
			height:350px;

			.slide-title{
				h2{
					font-size:1.3em;
				}
			}

			.slide-platform-author{
				.slide-platform{
					h3{
						font-size: 0.8em;
						padding:15px;
					}
				}

				.slide-author{
					font-size:0.7em;
					margin-top:215px;
				}
			}


			img{
				top:0;
				left:0;
				width:auto;
				height:100%;
			}
		}

		.slide-select{
			width:250px;
			height:30px;
			text-align: right;
			z-index: 15;

			.slide-selector{
				margin:5px 15px;

				&.selected{
					margin:3px 13px;
				}
			}
		}

	}

	// review
	.review-stats{
		height:300px;

		.review-score{
			width:200px;
		}

		.review-main-img{
			width:100%;
			height:120%;
		}
	}

	.comment-submit-cont{
		.comment-form{
			width:600px;

			.comment-text{
				left:10px;
				width:470px;
				max-width:470px;
			}
		}
	}

	.comment-cont{
		.comment-content{
			width:600px;
		}
	}
}











// ----------------------------------
// desktops
// ----------------------------------
@media screen and (min-width:992px) and (max-width:1199px){
	// header
	.main-header{
		.main-menu-lg{
			display:inline-block;
		}

		.login-logout-lg{
			display: inline-block;
		}

		.show-hide-menu-sm{
			display: none;
		}	

		.main-menu-sm{
			display:none;
		}
	}

	// main
	.title-cont{
		display: inline-block;
		text-align: left;

		.page-title{
			margin-top: 20px;
			margin-bottom:20px;
		}

	}

	.back-btn{
		display:inline-block;
		float:right;
		margin-top:30px;
	}

	.review-listing{
		.review-img{
			width:50%;
			@include borderRadius(5px 0 0 5px);
		}

		.review-rating{
			left:0;
			right:0;
			width:125px;
			height:125px;
		}

		.review-text{
			width:50%;
			@include borderRadius(0 5px 5px 0);
		}
	}

	// home
	.slideshow{
		height:350px;

		.slide{
			height:350px;

			.slide-title{
				h2{
					font-size:1.5em;
				}
			}

			.slide-platform-author{
				.slide-platform{
					h3{
						font-size: 0.8em;
						padding:15px;
					}
				}

				.slide-author{
					font-size:0.7em;
					margin-top:213px;
				}
			}

			img{
				top:0;
				left:0;
				width:100%;
				height:auto;
			}
		}

		.slide-select{
			width:250px;
			height:30px;
			text-align: right;
			z-index: 15;

			.slide-selector{
				margin:5px 15px;

				&.selected{
					margin:3px 13px;
				}
			}
		}

	}

	// review
	.review-stats{
		height:300px;

		.review-score{
			width:200px;
		}

		.review-main-img{
			width:100%;
			height:auto;
		}
	}

	.comment-submit-cont{
		.comment-form{
			width:820px;

			.comment-text{
				left:10px;
				width:670px;
				max-width:670px;
			}
		}
	}

	.comment-cont{
		.comment-content{
			width:800px;
		}
	}
}











// ----------------------------------
// large screens
// ----------------------------------
@media screen and (min-width:1200px){
	// header
	.main-header{
		.main-menu-lg{
			display:inline-block;
		}

		.login-logout-lg{
			display: inline-block;
		}

		.show-hide-menu-sm{
			display: none;
		}	

		.main-menu-sm{
			display:none;
		}
	}

	// main
	.title-cont{
		display: inline-block;
		text-align: left;

		.page-title{
			margin-top: 20px;
			margin-bottom:20px;
		}

	}

	.back-btn{
		display:inline-block;
		float:right;
		margin-top:30px;
	}

	.review-listing{
		.review-img{
			width:50%;
			@include borderRadius(5px 0 0 5px);
		}

		.review-rating{
			left:0;
			right:0;
			width:125px;
			height:125px;
		}

		.review-text{
			width:50%;
			@include borderRadius(0 5px 5px 0);
		}
	}

	// home
	.slideshow{
		height:350px;

		.slide{
			height:350px;

			.slide-title{
				h2{
					font-size:1.5em;
				}
			}

			.slide-platform-author{
				.slide-platform{
					h3{
						font-size: 0.8em;
						padding:15px;
					}
				}

				.slide-author{
					font-size:0.7em;
					margin-top:213px;
				}
			}

			img{
				top:0;
				left:0;
				width:100%;
				height:auto;
			}
		}

		.slide-select{
			width:250px;
			height:30px;
			text-align: right;
			z-index: 15;

			.slide-selector{
				margin:5px 15px;

				&.selected{
					margin:3px 13px;
				}
			}
		}

	}

	// review
	.review-stats{
		height:300px;

		.review-score{
			width:200px;
		}

		.review-main-img{
			width:100%;
			height:auto;
		}
	}

	.comment-submit-cont{
		.comment-form{
			width:1020px;

			.comment-text{
				left:10px;
				width:890px;
				max-width:890px;
			}
		}
	}

	.comment-cont{
		.comment-content{
			width:1000px;
		}
	}
}