<!DOCTYPE html>
<html data-ng-app="gameOn">
	<head>
		<title>Game On! Trustworthy game reviews.</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1" />
		<link type="text/css" rel="stylesheet" href="app/css/default.css">
		<link type="text/css" rel="stylesheet" href="app/libs/bootstrap-3.3.6/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	</head>
	<body>
		<div class="wrapper">

			<nav class="main-header" data-ng-controller="headerCtrl">
				<!-- logo and header text -->
				<div class="logo-img">
					<a href="#/">
						<img src="app/img/logo.png" alt="game on logo" />
					</a>
				</div>
				<div class="logo-text">
					<a href="#/">
						<h1>Game On</h1>
					</a>
				</div>
				
				<!-- main menu for large devices -->
				<div class="main-menu-lg">
					<a href="#/">home</a>
					<a href="" data-ng-click="platformsShowHideLg()">platforms <span class="down-arrow"></span></a>
					<a href="" data-ng-click="searchShowHideLg()">search</a>
				</div>
				<div class="search-container-lg" data-ng-if="!hideSearchLg">
					<input type="text" class="search-lg" placeholder="enter your search term" />
					<a href="" data-ng-click="searchFunctionLg()" class="search-btn-lg">search</a>
				</div>

				<div class="platform-list-lg" data-ng-if="!hidePlatformsLg">
					<a data-ng-repeat="platform in platformList" data-ng-href="#/platforms/{{platform.platform_id}}" data-ng-click="platformsShowHideLg()">{{ platform.platform_name }}</a>
				</div>

				<div class="login-logout-lg" ng-if="!sessionActive">
					<!-- login/registration menu for large devices -->
					<a href="" id="nav-login-lg" data-ng-click="showHideLogin()">login</a>
					<a href="" id="nav-register-lg" data-ng-click="showHideRegister()">register</a>
				</div>

				<div class="login-logout-lg" ng-if="sessionActive">
					<!-- profile info/log out menu for large devices -->
					<a href="#/userprofile">{{ userInfo.username }}</a>
					<a href="" data-ng-click="logout()">log out</a>
				</div>

				<!-- menu show/hide button for small devices -->
				<a class="show-hide-menu-sm" data-ng-class="menuSmActive" data-ng-click="menuShowHideSm()">
					<div class="menu-line menu-line-top"></div>
					<div class="menu-line menu-line-mid"></div>
					<div class="menu-line menu-line-btm"></div>
				</a>

				<!-- main menu for small devices -->
				<div class="main-menu-sm" data-ng-show="!hideMenuSm">
					<a href="#/" data-ng-click="menuShowHideSm()">home</a>
					<a href="#" data-ng-click="platformsShowHideSm()">platforms <span class="down-arrow"></span></a>
					<div class="platform-list-sm" data-ng-if="!hidePlatformsSm">
						<a data-ng-repeat="platform in platformList" data-ng-href="#/platforms/{{platform.platform_id}}" data-ng-click="menuPlatformsShowHideSm()">{{ platform.platform_name }}</a>
					</div>
					<a href="#" data-ng-click="searchShowHideSm()">search</a>
					<div class="search-container-sm" data-ng-if="!hideSearchSm">
						<input type="text" class="search-sm" placeholder="enter your search term" />
						<div class="search-btn-sm" data-ng-click="searchFunctionSm()">search</div>
					</div>
					<div class="login-logout-sm" data-ng-if="!sessionActive">
						<a href="" id="nav-login-sm" data-ng-click="menuLoginShowHideSm()">login</a>
						<a href="" id="nav-register-sm" data-ng-click="menuRegisterShowHideSm()">register</a>
					</div>
					<div class="login-logout-sm" data-ng-if="sessionActive">
						<a href="#/userprofile">{{ userInfo.username }}</a>
						<a href="" data-ng-click="logout()">log out</a>
					</div>
				</div>

				<!-- login modal -->
				<div id="login-modal" class="login-modal" data-ng-show="!hideLoginModal">
					<h3 class="form-header">login</h3><p class="form-error login-error" data-ng-if="submitError">{{ submitError }}</p><p class="form-success login-success" data-ng-if="loginSuccess">{{ loginSuccess }}</p>
					<form role="form" class="login-form" data-ng-submit="processLogin()">
						<button class="exit-btn" type="reset" data-ng-click="showHideLogin()">&times;</button>
						<div class="form-group">
							<label for="login-username">username:</label><p class="form-error" data-ng-if="loginUsernameError">{{ loginUsernameError }}</p>
							<input id="login-username" type="text" class="login-username form-control" data-ng-model="loginUsername" />
						</div>
						<div class="form-group">
							<label for="login-password">password:</label><p class="form-error" data-ng-if="loginPasswordError">{{ loginPasswordError }}</p>
							<input id="login-password" type="password" class="login-password form-control" data-ng-model="loginPassword" />
						</div>

						<button class="cancel-btn" type="reset" data-ng-click="showHideLogin()">cancel</button>
						<input type="submit" class="submit-btn" value="submit" />
					</form>
				</div>

				<!-- registration modal -->
				<div id="register-modal" class="register-modal" data-ng-show="!hideRegisterModal">
					<h3 class="form-header">register</h3><p class="form-success register-success" data-ng-if="registerSuccess">{{ registerSuccess }}</p>
					<form role="form" id="register-form" class="register-form" enctype="multipart/form-data" data-ng-submit="processReg()">
						<button class="exit-btn" type="reset" data-ng-click="showHideRegister()">&times;</button>
						<div class="form-group">
							<label for="register-username">username:</label><p class="form-error" data-ng-if="registerUsernameError">{{ registerUsernameError }}</p>
							<input id="register-username" type="text" class="register-username form-control" data-ng-model="registerUsername">
						</div>
						<div class="form-group">
							<label for="register-password">password:</label><p class="form-error" data-ng-if="registerPassError">{{ registerPassError }}</p>
							<input id="register-password" type="password" class="register-password form-control" data-ng-model="registerPass">
						</div>
						<div class="form-group">
							<label for="register-password-confirm">confirm password:</label><p class="form-error" data-ng-if="registerPassConfError">{{ registerPassConfError }}</p>
							<input id="register-password-confirm" type="password" class="register-password-confirm form-control" data-ng-model="registerPassConf">
						</div>
						<div class="form-group">
							<label for="register-email">email:</label><p class="form-error" data-ng-if="registerEmailError">{{ registerEmailError }}</p>
							<input id="register-email" type="text" class="register-email form-control" data-ng-model="registerEmail">
						</div>
						<div class="form-group">
							<label for="register-fname">first name:</label><p class="form-error" data-ng-if="registerFNameError">{{ registerFNameError }}</p>
							<input id="register-fname" type="text" class="register-fname form-control" data-ng-model="registerFName">
						</div>
						<div class="form-group">
							<label for="register-lname">last name:</label><p class="form-error" data-ng-if="registerLNameError">{{ registerLNameError }}</p>
							<input id="register-lname" type="text" class="register-lname form-control" data-ng-model="registerLName">
						</div>
						<div class="form-group">
							<label for="register-img">profile image:</label><p id="register-img-error" class="form-error"></p>
							<input id="register-img" type="file" name="registerImg" class="register-img form-control">
						</div>

						<button class="cancel-btn" type="reset" data-ng-click="showHideRegister()">cancel</button>
						<input type="submit" class="submit-btn register-submit" value="submit" />
					</form>
				</div>

				<!-- modal overlay -->
				<div class="modal-overlay" data-ng-if="!hideModalOverlay">
				</div>

				<!-- page loading overlay -->
				<div class="loading-overlay" data-ng-if="!hideLoadingOverlay">
					<img src="app/img/loading.png" alt="page is loading">
				</div>
			</nav>

			<div class="container main-cont" data-ng-view>

			</div>

			</div>

		<footer>
			&copy; Brady Gibbins 2016
		</footer>



		<!-- jQuery -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script type="text/javascript"> window.jQuery || document.write('<script type="text/javascript" src="app/libs/jquery-1.12.4/jquery.min.js"><\/script>');</script>


		<!-- Bootstrap -->
		<script type="text/javascript" src="app/libs/bootstrap-3.3.6/js/bootstrap.min.js"></script>

		<!-- AngularJS -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
		<script type="text/javascript">window.angular || document.write('<script type="text/javascript" src="app/libs/angularjs-1.5.7/angular.min.js"><\/script>');</script>

		<!-- ngRoute -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js
"></script>
		<script type="text/javascript">window.angular || document.write('<script type="text/javascript" src="app/libs/angularjs-1.5.7/angular-route.min.js"><\/script>');</script>

		
		<!-- app -->
		<script type="text/javascript" src="app/app.js"></script>

		<!-- routing -->
		<script type="text/javascript" src="app/routes.js"></script>
		
		<!-- controllers -->
		<script type="text/javascript" src="app/controllers/headerCtrl.js"></script>
		<script type="text/javascript" src="app/controllers/homeCtrl.js"></script>
		<script type="text/javascript" src="app/controllers/platformsCtrl.js"></script>
		<script type="text/javascript" src="app/controllers/platformCtrl.js"></script>
		
		<!-- directives -->
		<script type="text/javascript" src="app/directives/platformInfo.js"></script>
		<script type="text/javascript" src="app/directives/bgImg.js"></script>
		<script type="text/javascript" src="app/directives/reviewSummary.js"></script>

		<!-- custom jQuery -->
		<script type="text/javascript" src="/game_on/app/js/js.js"></script>

	</body>
</html>