html, body {
  width: 100%;
  height: 100%;
  background-image: url("/game_on/app/img/cubebg.png");
  background-repeat: repeat; }

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #efefef;
  z-index: 9001; }
  .loading-overlay img {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }

.wrapper {
  min-height: 100%;
  margin-bottom: -60px;
  padding-bottom: 60px; }

.main-cont {
  min-height: 600px; }

.page-title {
  color: #efefef;
  background: #3d3d3d;
  border-bottom: 5px solid #ffe400;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden; }

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 720px;
  background: black;
  opacity: 0.4;
  z-index: 19; }

.alert-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #3d3d3d;
  color: #efefef; }

.back-btn {
  display: inline-block;
  float: right;
  margin-top: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
  border: 1px solid #3d3d3d;
  background: #ffe400;
  color: #3d3d3d;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease; }
  .back-btn:hover {
    text-decoration: none;
    background: #e8cf00; }

.down-arrow {
  width: 10px;
  height: 5px;
  display: inline-block;
  background-image: url("../img/down-arrow.png");
  background-repeat: no-repeat;
  background-size: contain; }

.review-listing {
  height: 150px; }
  .review-listing .review-img {
    width: 50%;
    height: 150px;
    margin: 0;
    border-top: 1px solid #3d3d3d;
    border-bottom: 1px solid #3d3d3d;
    border-left: 1px solid #3d3d3d;
    display: block;
    float: left;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    overflow: hidden; }
    .review-listing .review-img h2 {
      display: block;
      width: 100%;
      height: 100px;
      padding-top: 5px;
      padding-left: 5px;
      text-align: left;
      vertical-align: top;
      margin: 0;
      color: #efefef;
      text-shadow: 0 0 2px black;
      background: rgba(0, 0, 0, 0.4); }
    .review-listing .review-img p {
      display: block;
      width: 100%;
      height: 48px;
      line-height: 70px;
      padding-left: 5px;
      background: rgba(0, 0, 0, 0.4);
      color: #efefef;
      margin: 0;
      text-shadow: 0 0 2px black;
      font-size: 1.2em; }
  .review-listing .review-rating {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  .review-listing .review-text {
    width: 50%;
    height: 150px;
    background: #3d3d3d;
    float: right;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    overflow: hidden; }
    .review-listing .review-text .review-clip {
      width: 80%;
      height: 120px;
      padding: 5px;
      margin-top: 10px;
      margin-right: 5px;
      color: #efefef;
      float: right;
      text-align: justify;
      overflow: hidden; }

footer {
  display: block;
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-family: 'Open Sans', sans-serif;
  background: #3d3d3d;
  color: #efefef; }

.form-header {
  position: absolute;
  top: 5px;
  left: 5px;
  margin: 0; }

.exit-btn {
  position: absolute;
  top: -45px;
  right: -15px;
  width: 30px;
  height: 30px;
  font-size: 1.8em;
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 0;
  color: #3d3d3d;
  border: none;
  background: #efefef; }
  .exit-btn:hover {
    background: #3d3d3d;
    color: #efefef;
    text-decoration: none;
    text-shadow: 0px 0px 4px #efefef; }

.form-success {
  margin: 0;
  padding: 5px;
  background: #00c41c;
  color: white;
  display: inline;
  text-align: center; }

.form-error {
  margin: 0;
  margin-left: 2px;
  margin-top: -40px;
  padding: 5px;
  background: #ff5757;
  color: white;
  display: inline-block;
  width: 220px;
  text-align: center;
  -webkit-animation: errorShake 0.3s;
  -moz-animation: errorShake 0.3s;
  -o-animation: errorShake 0.3s;
  -ms-animation: errorShake 0.3s;
  animation: errorShake 0.3s; }

@-webkit-keyframes errorShake {
  25% {
    margin-left: 10px; }
  50% {
    margin-left: 2px; }
  75% {
    margin-left: 10px; }
  100% {
    margin-left: 2px; } }
@-moz-keyframes errorShake {
  25% {
    margin-left: 10px; }
  50% {
    margin-left: 2px; }
  75% {
    margin-left: 10px; }
  100% {
    margin-left: 2px; } }
@-o-keyframes errorShake {
  25% {
    margin-left: 10px; }
  50% {
    margin-left: 2px; }
  75% {
    margin-left: 10px; }
  100% {
    margin-left: 2px; } }
@-ms-keyframes errorShake {
  25% {
    margin-left: 10px; }
  50% {
    margin-left: 2px; }
  75% {
    margin-left: 10px; }
  100% {
    margin-left: 2px; } }
@keyframes errorShake {
  25% {
    margin-left: 10px; }
  50% {
    margin-left: 2px; }
  75% {
    margin-left: 10px; }
  100% {
    margin-left: 2px; } }
.cancel-btn,
.submit-btn {
  width: 100px;
  height: 40px; }

.cancel-btn {
  background: #f83f14;
  color: #efefef;
  border: none; }

.submit-btn {
  background: #0894c2;
  color: #efefef;
  border: none; }

.main-header {
  height: 60px;
  background: #3d3d3d;
  font-family: 'Open Sans', sans-serif; }
  .main-header .logo-img {
    height: 60px;
    float: left; }
    .main-header .logo-img a {
      width: auto;
      height: 60px; }
      .main-header .logo-img a img {
        height: 50px;
        margin-top: 5px;
        margin-left: 5px; }
  .main-header .logo-text {
    width: auto;
    height: 60px;
    float: left;
    margin-left: 5px; }
    .main-header .logo-text a {
      text-decoration: none; }
      .main-header .logo-text a h1 {
        margin: 0;
        font-size: 2em;
        color: #efefef;
        line-height: 58px; }
  .main-header .active-item {
    background: #666666; }
  .main-header .main-menu-lg {
    float: left;
    width: 300px;
    height: 60px;
    margin-left: 10px; }
    .main-header .main-menu-lg a {
      display: inline-block;
      width: 100px;
      height: 60px;
      line-height: 60px;
      margin: 0 -2px;
      text-decoration: none;
      color: #efefef;
      text-align: center; }
  .main-header .platform-list-lg {
    display: inline-block;
    width: 200px;
    height: auto;
    margin-top: 60px;
    margin-left: -255px;
    position: absolute;
    z-index: 21; }
    .main-header .platform-list-lg.ng-enter {
      -webkit-animation: platformsLg 0.2s;
      -moz-animation: platformsLg 0.2s;
      -o-animation: platformsLg 0.2s;
      -ms-animation: platformsLg 0.2s;
      animation: platformsLg 0.2s; }
    .main-header .platform-list-lg a {
      display: block;
      width: 100%;
      height: 60px;
      background: #3d3d3d;
      color: #efefef;
      text-align: center;
      line-height: 60px;
      text-decoration: none; }
      .main-header .platform-list-lg a:hover {
        background: #666666; }
@-webkit-keyframes platformsLg {
  0% {
    opacity: 0;
    width: 180px;
    margin-left: -245px;
    margin-top: 50px; }
  100% {
    opacity: 1;
    width: 200px; } }
@-moz-keyframes platformsLg {
  0% {
    opacity: 0;
    width: 180px;
    margin-left: -245px;
    margin-top: 50px; }
  100% {
    opacity: 1;
    width: 200px; } }
@-o-keyframes platformsLg {
  0% {
    opacity: 0;
    width: 180px;
    margin-left: -245px;
    margin-top: 50px; }
  100% {
    opacity: 1;
    width: 200px; } }
@-ms-keyframes platformsLg {
  0% {
    opacity: 0;
    width: 180px;
    margin-left: -245px;
    margin-top: 50px; }
  100% {
    opacity: 1;
    width: 200px; } }
@keyframes platformsLg {
  0% {
    opacity: 0;
    width: 180px;
    margin-left: -245px;
    margin-top: 50px; }
  100% {
    opacity: 1;
    width: 200px; } }
  .main-header .search-container-lg {
    position: absolute;
    width: 500px;
    height: 40px;
    background: #3d3d3d;
    margin-top: 60px;
    margin-left: 250px;
    z-index: 10; }
    .main-header .search-container-lg.ng-enter {
      -webkit-animation: searchLg 0.3s;
      -moz-animation: searchLg 0.3s;
      -o-animation: searchLg 0.3s;
      -ms-animation: searchLg 0.3s;
      animation: searchLg 0.3s; }
    .main-header .search-container-lg .search-lg {
      display: inline-block;
      width: 400px;
      height: 30px;
      margin-left: 10px;
      margin-top: 5px;
      padding-left: 5px; }
    .main-header .search-container-lg .search-btn-lg {
      position: absolute;
      top: 5px;
      width: 80px;
      height: 30px;
      background: #efefef;
      border: 1px solid #3d3d3d;
      border-left: none;
      text-decoration: none;
      color: #3d3d3d;
      text-align: center;
      line-height: 30px; }
@-webkit-keyframes searchLg {
  0% {
    opacity: 0;
    margin-top: 50px; }
  100% {
    opacity: 1;
    margin-top: 60px; } }
@-moz-keyframes searchLg {
  0% {
    opacity: 0;
    margin-top: 50px; }
  100% {
    opacity: 1;
    margin-top: 60px; } }
@-o-keyframes searchLg {
  0% {
    opacity: 0;
    margin-top: 50px; }
  100% {
    opacity: 1;
    margin-top: 60px; } }
@-ms-keyframes searchLg {
  0% {
    opacity: 0;
    margin-top: 50px; }
  100% {
    opacity: 1;
    margin-top: 60px; } }
@keyframes searchLg {
  0% {
    opacity: 0;
    margin-top: 50px; }
  100% {
    opacity: 1;
    margin-top: 60px; } }
  .main-header .login-logout-lg {
    float: right;
    width: 200px;
    height: 60px; }
    .main-header .login-logout-lg a {
      display: inline-block;
      width: 100px;
      height: 60px;
      line-height: 60px;
      margin: 0 -2px;
      text-decoration: none;
      color: #efefef;
      text-align: center; }
  .main-header .show-hide-menu-sm {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    padding-top: 5px;
    float: right; }
    .main-header .show-hide-menu-sm.active {
      background: #666666; }
    .main-header .show-hide-menu-sm .menu-line {
      width: 30px;
      height: 10px;
      margin: 0 auto;
      border-bottom: 2px solid #efefef; }
  .main-header .main-menu-sm {
    width: 100%;
    height: auto;
    display: block;
    float: left; }
    .main-header .main-menu-sm .platform-list-sm {
      display: inline-block;
      width: 100%;
      height: auto;
      float: left; }
      .main-header .main-menu-sm .platform-list-sm a {
        display: inline-block;
        width: 100%;
        height: 60px;
        background: #3d3d3d;
        color: #efefef;
        text-align: center;
        line-height: 60px;
        text-decoration: none; }
        .main-header .main-menu-sm .platform-list-sm a:hover {
          background: #666666; }
    .main-header .main-menu-sm .search-container-sm {
      display: inline-block;
      position: relative;
      width: 100%;
      height: 60px;
      background: #3d3d3d; }
      .main-header .main-menu-sm .search-container-sm .search-sm {
        display: inline-block;
        width: 70%;
        height: 50px;
        margin-top: 5px;
        margin-left: 10px;
        padding-left: 5px;
        padding-right: 10px; }
      .main-header .main-menu-sm .search-container-sm .search-btn-sm {
        position: absolute;
        top: 4px;
        right: 10px;
        width: 28%;
        height: 50px;
        border: 1px solid #3d3d3d;
        margin-top: 1px;
        margin-left: -5px;
        background: #efefef;
        color: #3d3d3d;
        text-align: center;
        line-height: 50px; }
    .main-header .main-menu-sm a {
      display: inline-block;
      width: 100%;
      height: 60px;
      text-align: center;
      line-height: 60px;
      color: #efefef;
      background: #3d3d3d;
      text-decoration: none; }
      .main-header .main-menu-sm a:hover {
        background: #666666; }
      .main-header .main-menu-sm a .down-arrow {
        width: 10px;
        height: 5px;
        display: inline-block;
        background-image: url("../img/down-arrow.png");
        background-repeat: no-repeat;
        background-size: contain; }
  .main-header .login-modal {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 400px;
    height: 280px;
    margin: auto;
    background: #efefef;
    border: 2px solid #3d3d3d;
    z-index: 20; }
    .main-header .login-modal.ng-hide-remove {
      -webkit-animation: loginModal 0.3s;
      -moz-animation: loginModal 0.3s;
      -o-animation: loginModal 0.3s;
      -ms-animation: loginModal 0.3s;
      animation: loginModal 0.3s; }
    .main-header .login-modal .login-success {
      position: absolute;
      top: 10px;
      left: 70px;
      font-weight: bold;
      width: 150px; }
    .main-header .login-modal .login-error {
      position: absolute;
      top: 50px;
      left: 70px;
      font-weight: bold; }
    .main-header .login-modal .login-form {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: 50px;
      width: 90%;
      height: 220px; }
      .main-header .login-modal .login-form .cancel-btn,
      .main-header .login-modal .login-form .submit-btn {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 10px; }
      .main-header .login-modal .login-form .cancel-btn {
        right: 150px; }
      .main-header .login-modal .login-form .submit-btn {
        left: 150px; }
@-webkit-keyframes loginModal {
  0% {
    width: 380px;
    height: 260px;
    opacity: 0; }
  100% {
    width: 400px;
    height: 280px;
    opacity: 1; } }
@-moz-keyframes loginModal {
  0% {
    width: 380px;
    height: 260px;
    opacity: 0; }
  100% {
    width: 400px;
    height: 280px;
    opacity: 1; } }
@-o-keyframes loginModal {
  0% {
    width: 380px;
    height: 260px;
    opacity: 0; }
  100% {
    width: 400px;
    height: 280px;
    opacity: 1; } }
@-ms-keyframes loginModal {
  0% {
    width: 380px;
    height: 260px;
    opacity: 0; }
  100% {
    width: 400px;
    height: 280px;
    opacity: 1; } }
@keyframes loginModal {
  0% {
    width: 380px;
    height: 260px;
    opacity: 0; }
  100% {
    width: 400px;
    height: 280px;
    opacity: 1; } }
  .main-header .register-modal {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 650px;
    background: #efefef;
    border: 2px solid #3d3d3d;
    z-index: 20; }
    .main-header .register-modal.ng-hide-remove {
      -webkit-animation: registerModal 0.3s;
      -moz-animation: registerModal 0.3s;
      -o-animation: registerModal 0.3s;
      -ms-animation: registerModal 0.3s;
      animation: registerModal 0.3s; }
    .main-header .register-modal .register-success {
      position: absolute;
      top: 10px;
      left: 100px;
      font-weight: bold;
      width: 250px; }
    .main-header .register-modal .register-form {
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      margin: auto;
      width: 90%;
      height: 580px; }
      .main-header .register-modal .register-form .cancel-btn,
      .main-header .register-modal .register-form .submit-btn {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 10px; }
      .main-header .register-modal .register-form .cancel-btn {
        right: 150px; }
      .main-header .register-modal .register-form .submit-btn {
        left: 150px; }
      .main-header .register-modal .register-form #register-img-error {
        display: none; }
@-webkit-keyframes registerModal {
  0% {
    width: 380px;
    height: 630px;
    opacity: 0; }
  100% {
    width: 400px;
    height: 650px;
    opacity: 1; } }
@-moz-keyframes registerModal {
  0% {
    width: 380px;
    height: 630px;
    opacity: 0; }
  100% {
    width: 400px;
    height: 650px;
    opacity: 1; } }
@-o-keyframes registerModal {
  0% {
    width: 380px;
    height: 630px;
    opacity: 0; }
  100% {
    width: 400px;
    height: 650px;
    opacity: 1; } }
@-ms-keyframes registerModal {
  0% {
    width: 380px;
    height: 630px;
    opacity: 0; }
  100% {
    width: 400px;
    height: 650px;
    opacity: 1; } }
@keyframes registerModal {
  0% {
    width: 380px;
    height: 630px;
    opacity: 0; }
  100% {
    width: 400px;
    height: 650px;
    opacity: 1; } }
.platforms-list div {
  margin: 20px 0;
  height: 200px; }
  .platforms-list div a {
    width: 90%;
    height: 100%;
    display: block;
    margin: auto;
    color: #efefef;
    text-shadow: 0 0 2px black;
    text-decoration: none;
    -webkit-border-radius: 5px 15px;
    -moz-border-radius: 5px 15px;
    -o-border-radius: 5px 15px;
    -ms-border-radius: 5px 15px;
    border-radius: 5px 15px;
    overflow: hidden; }
    .platforms-list div a:hover h2 {
      color: #efefef; }
    .platforms-list div a img {
      width: 100%;
      height: auto; }
    .platforms-list div a h2 {
      margin: 0;
      padding: 5px;
      background: #3d3d3d;
      border-bottom: 2px solid #ffe400; }

.slideshow {
  position: relative;
  width: 80%;
  margin: 20px auto;
  height: 350px;
  background: #3d3d3d;
  border: 1px solid #3d3d3d;
  overflow: hidden; }
  .slideshow .slide {
    position: absolute;
    width: 100%;
    height: 350px; }
    .slideshow .slide.ng-hide-remove {
      -webkit-animation: fadeIn 1s ease;
      -moz-animation: fadeIn 1s ease;
      -o-animation: fadeIn 1s ease;
      -ms-animation: fadeIn 1s ease;
      animation: fadeIn 1s ease; }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    .slideshow .slide img {
      position: absolute;
      width: 100%;
      height: auto; }
  .slideshow .slide-select {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;
    height: 30px;
    text-align: center;
    z-index: 10; }
    .slideshow .slide-select .slide-selector {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 5px 15px;
      border: 2px solid #efefef;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -o-border-radius: 20px;
      -ms-border-radius: 20px;
      border-radius: 20px; }
      .slideshow .slide-select .slide-selector.selected {
        width: 24px;
        height: 24px;
        margin: 3px 13px;
        background: #efefef; }
  .slideshow .slideshow-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5; }

.platform-select-label {
  width: 100%;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 1.2em;
  font-weight: bold; }

.select-cont {
  position: relative;
  display: block;
  width: 300px;
  height: 50px;
  margin: auto;
  text-decoration: none;
  background: #3d3d3d;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .select-cont:hover {
    text-decoration: none; }
  .select-cont .platform-select {
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 50px;
    color: #ffe400;
    line-height: 50px;
    text-align: center; }
  .select-cont .down-arrow-cont {
    position: absolute;
    right: 5px;
    top: 12px;
    width: 15px;
    height: 50px; }

.platform-select-list {
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  width: 300px;
  height: auto;
  min-height: 30px;
  margin: auto;
  z-index: 10; }
  .platform-select-list.ng-hide-remove {
    -webkit-animation: platformSelect 0.3s;
    -moz-animation: platformSelect 0.3s;
    -o-animation: platformSelect 0.3s;
    -ms-animation: platformSelect 0.3s;
    animation: platformSelect 0.3s; }
@-webkit-keyframes platformSelect {
  0% {
    opacity: 0;
    top: 35px; }
  100% {
    opacity: 1;
    top: 45px; } }
@-moz-keyframes platformSelect {
  0% {
    opacity: 0;
    top: 35px; }
  100% {
    opacity: 1;
    top: 45px; } }
@-o-keyframes platformSelect {
  0% {
    opacity: 0;
    top: 35px; }
  100% {
    opacity: 1;
    top: 45px; } }
@-ms-keyframes platformSelect {
  0% {
    opacity: 0;
    top: 35px; }
  100% {
    opacity: 1;
    top: 45px; } }
@keyframes platformSelect {
  0% {
    opacity: 0;
    top: 35px; }
  100% {
    opacity: 1;
    top: 45px; } }
  .platform-select-list .select-item {
    display: block;
    width: 300px;
    height: 30px;
    background: #3d3d3d;
    color: #ffe400;
    text-decoration: none;
    text-align: center;
    line-height: 30px; }
    .platform-select-list .select-item:hover {
      background: #666666;
      text-decoration: none; }

.review-stats {
  position: relative;
  height: 300px;
  overflow: hidden;
  border: 1px solid #3d3d3d; }
  .review-stats .img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    z-index: 2; }
  .review-stats p {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    text-shadow: 0 0 2px black;
    color: #efefef;
    z-index: 3; }
    .review-stats p.author-name {
      bottom: 20px;
      left: 10px; }
    .review-stats p.review-date {
      bottom: 0;
      left: 10px; }
  .review-stats .review-score {
    position: absolute;
    width: 200px;
    height: auto;
    z-index: 3;
    right: 50px;
    top: 0;
    bottom: 0;
    margin: auto; }
  .review-stats .review-main-img {
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: -50px;
    z-index: 1; }

.review-content {
  width: 100%;
  padding: 20px;
  background: #efefef;
  border: 1px solid #3d3d3d;
  margin: 20px auto; }
  .review-content p {
    font-family: 'Open Sans',sans-serif;
    font-size: 1.1em; }

.no-comments {
  background: #3d3d3d;
  text-align: center;
  height: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #ffe400;
  line-height: 40px;
  margin-bottom: 20px;
  padding: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.login-reminder {
  background: #3d3d3d;
  text-align: center;
  height: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #ffe400;
  line-height: 40px;
  margin-bottom: 20px;
  padding: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.comment-submit-cont {
  min-height: 120px;
  height: 120px;
  border: 1px solid #3d3d3d;
  background: #efefef;
  margin-bottom: 20px; }
  .comment-submit-cont .comment-user-img {
    display: inline-block;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 10px; }
    .comment-submit-cont .comment-user-img img {
      width: 100%;
      height: auto; }
  .comment-submit-cont .comment-form {
    position: relative;
    display: inline-block;
    width: 1000px;
    height: 100px; }
    .comment-submit-cont .comment-form .comment-success,
    .comment-submit-cont .comment-form .comment-error {
      position: absolute;
      z-index: 5;
      left: 20px; }
    .comment-submit-cont .comment-form .comment-success {
      top: -30px; }
    .comment-submit-cont .comment-form .comment-error {
      top: -10px; }
    .comment-submit-cont .comment-form .comment-text {
      position: absolute;
      left: 30px;
      width: 80%;
      max-width: 80%;
      height: 100px;
      max-height: 100px; }
    .comment-submit-cont .comment-form .submit-btn {
      position: absolute;
      top: 0;
      right: 0; }
    .comment-submit-cont .comment-form .cancel-btn {
      position: absolute;
      bottom: 0;
      right: 0; }

.comment-cont {
  position: relative;
  width: 100%;
  min-height: 150px;
  background: #efefef;
  border: 1px solid #3d3d3d;
  margin-bottom: 10px;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .comment-cont .comment-details {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #3d3d3d;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #efefef;
    padding-left: 10px; }
    .comment-cont .comment-details .comment-username {
      color: #ffe400; }
    .comment-cont .comment-details .comment-delete {
      position: absolute;
      top: -2px;
      right: 5px;
      width: 20px;
      height: 20px; }
      .comment-cont .comment-details .comment-delete img {
        width: 80%;
        height: auto; }
  .comment-cont .comment-img {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 0;
    overflow: hidden;
    float: left; }
    .comment-cont .comment-img img {
      width: 100%;
      height: auto; }
  .comment-cont .comment-content {
    display: inline-block;
    width: 90%;
    margin-left: 20px;
    padding: 5px 10px;
    word-wrap: break-word; }

.comment-delete-modal {
  position: fixed;
  top: 0;
  bottom: 200px;
  left: 0;
  right: 0;
  margin: auto;
  width: 400px;
  height: 150px;
  background: #efefef;
  border: 1px solid #3d3d3d;
  z-index: 20;
  -webkit-animation: commentDeleteModal 0.3s;
  -moz-animation: commentDeleteModal 0.3s;
  -o-animation: commentDeleteModal 0.3s;
  -ms-animation: commentDeleteModal 0.3s;
  animation: commentDeleteModal 0.3s; }
  .comment-delete-modal h3 {
    height: 30px;
    line-height: 30px;
    text-align: center; }
  .comment-delete-modal .submit-btn,
  .comment-delete-modal .cancel-btn {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    margin: auto; }
  .comment-delete-modal .cancel-btn {
    left: 150px; }
  .comment-delete-modal .submit-btn {
    right: 150px; }
@-webkit-keyframes commentDeleteModal {
  0% {
    width: 380px;
    height: 130px;
    opacity: 0; }
  100% {
    width: 400px;
    height: 150px;
    opacity: 1; } }
@-moz-keyframes commentDeleteModal {
  0% {
    width: 380px;
    height: 130px;
    opacity: 0; }
  100% {
    width: 400px;
    height: 150px;
    opacity: 1; } }
@-o-keyframes commentDeleteModal {
  0% {
    width: 380px;
    height: 130px;
    opacity: 0; }
  100% {
    width: 400px;
    height: 150px;
    opacity: 1; } }
@-ms-keyframes commentDeleteModal {
  0% {
    width: 380px;
    height: 130px;
    opacity: 0; }
  100% {
    width: 400px;
    height: 150px;
    opacity: 1; } }
@keyframes commentDeleteModal {
  0% {
    width: 380px;
    height: 130px;
    opacity: 0; }
  100% {
    width: 400px;
    height: 150px;
    opacity: 1; } }
@media screen and (max-width: 767px) {
  .main-header .main-menu-lg {
    display: none; }
  .main-header .login-logout-lg {
    display: none; }
  .main-header .show-hide-menu-sm {
    display: inline-block; }
  .main-header .main-menu-sm {
    display: block; }
  .main-header .platform-list-lg {
    display: none; }
  .main-header .search-container-lg {
    display: none; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .main-header .main-menu-lg {
    display: inline-block; }
  .main-header .login-logout-lg {
    display: inline-block; }
  .main-header .show-hide-menu-sm {
    display: none; }
  .main-header .main-menu-sm {
    display: none; } }
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .main-header .main-menu-lg {
    display: inline-block; }
  .main-header .login-logout-lg {
    display: inline-block; }
  .main-header .show-hide-menu-sm {
    display: none; }
  .main-header .main-menu-sm {
    display: none; } }
@media screen and (min-width: 1200px) {
  .main-header .main-menu-lg {
    display: inline-block; }
  .main-header .login-logout-lg {
    display: inline-block; }
  .main-header .show-hide-menu-sm {
    display: none; }
  .main-header .main-menu-sm {
    display: none; } }

/*# sourceMappingURL=default.css.map */
