html, body {
  width: 100%;
  height: 100%;
  background-image: url("/game_on/app/img/cubebg.png");
  background-repeat: repeat; }

.wrapper {
  min-height: 100%;
  margin-bottom: -60px;
  padding-bottom: 60px; }

.main-cont {
  min-height: 600px; }

.page-title {
  color: #efefef;
  background: #3d3d3d;
  border-bottom: 5px solid #ffe400;
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  padding: 10px; }

.review-listing {
  height: 150px; }
  .review-listing .review-img {
    width: 50%;
    height: 150px;
    margin: 0;
    border-top: 1px solid #3d3d3d;
    border-bottom: 1px solid #3d3d3d;
    border-left: 1px solid #3d3d3d;
    display: block;
    float: left; }
    .review-listing .review-img h2 {
      display: block;
      width: 100%;
      height: 100px;
      padding-top: 5px;
      padding-left: 5px;
      text-align: left;
      vertical-align: top;
      margin: 0;
      color: #efefef;
      text-shadow: 0 0 2px black;
      background: rgba(0, 0, 0, 0.4); }
    .review-listing .review-img p {
      display: block;
      width: 100%;
      height: 48px;
      line-height: 70px;
      padding-left: 5px;
      background: rgba(0, 0, 0, 0.4);
      color: #efefef;
      margin: 0;
      text-shadow: 0 0 2px black;
      font-size: 1.2em; }
  .review-listing .review-rating {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  .review-listing .review-text {
    width: 50%;
    height: 150px;
    background: #3d3d3d;
    float: right; }
    .review-listing .review-text .review-clip {
      width: 80%;
      height: 120px;
      padding: 5px;
      margin-top: 10px;
      margin-right: 5px;
      color: #efefef;
      float: right;
      text-align: justify;
      overflow: hidden; }

footer {
  display: block;
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-family: 'Open Sans', sans-serif;
  background: #3d3d3d;
  color: #efefef; }

.back-btn {
  padding: 10px;
  border: 1px solid #3d3d3d;
  background: #ffe400;
  color: #3d3d3d;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  display: block;
  text-align: center; }
  .back-btn:hover {
    text-decoration: none;
    background: #e8cf00; }

.form-header {
  position: absolute;
  top: 5px;
  left: 5px;
  margin: 0; }

.exit-btn {
  position: absolute;
  top: -45px;
  right: -15px;
  width: 30px;
  height: 30px;
  font-size: 1.8em;
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 0;
  color: #3d3d3d;
  border: none;
  background: #efefef; }
  .exit-btn:hover {
    background: #3d3d3d;
    color: #efefef;
    text-decoration: none;
    text-shadow: 0px 0px 4px #efefef; }

.form-success {
  margin: 0;
  padding: 5px;
  background: #00c41c;
  color: white;
  display: inline; }

.form-error {
  margin: 0;
  margin-left: 2px;
  margin-top: -40px;
  padding: 5px;
  background: #ff5757;
  color: white;
  display: inline-block;
  width: 220px;
  text-align: center;
  -webkit-animation: errorShake 0.3s;
  -moz-animation: errorShake 0.3s;
  -o-animation: errorShake 0.3s;
  -ms-animation: errorShake 0.3s;
  animation: errorShake 0.3s; }

@-webkit-keyframes errorShake {
  25% {
    margin-left: 10px; }
  50% {
    margin-left: 2px; }
  75% {
    margin-left: 10px; }
  100% {
    margin-left: 2px; } }
@-moz-keyframes errorShake {
  25% {
    margin-left: 10px; }
  50% {
    margin-left: 2px; }
  75% {
    margin-left: 10px; }
  100% {
    margin-left: 2px; } }
@-o-keyframes errorShake {
  25% {
    margin-left: 10px; }
  50% {
    margin-left: 2px; }
  75% {
    margin-left: 10px; }
  100% {
    margin-left: 2px; } }
@-ms-keyframes errorShake {
  25% {
    margin-left: 10px; }
  50% {
    margin-left: 2px; }
  75% {
    margin-left: 10px; }
  100% {
    margin-left: 2px; } }
@keyframes errorShake {
  25% {
    margin-left: 10px; }
  50% {
    margin-left: 2px; }
  75% {
    margin-left: 10px; }
  100% {
    margin-left: 2px; } }
.cancel-btn,
.submit-btn {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 10px;
  width: 100px;
  height: 40px; }

.cancel-btn {
  right: 150px;
  background: #f83f14;
  color: #efefef;
  border: none; }

.submit-btn {
  left: 150px;
  background: #0894c2;
  color: #efefef;
  border: none; }

.main-header {
  height: 60px;
  background: #3d3d3d;
  font-family: 'Open Sans', sans-serif; }
  .main-header .logo-img {
    height: 60px;
    float: left; }
    .main-header .logo-img a {
      width: auto;
      height: 60px; }
      .main-header .logo-img a img {
        height: 50px;
        margin-top: 5px;
        margin-left: 5px; }
  .main-header .logo-text {
    width: auto;
    height: 60px;
    float: left;
    margin-left: 5px; }
    .main-header .logo-text a {
      text-decoration: none; }
      .main-header .logo-text a h1 {
        margin: 0;
        font-size: 2em;
        color: #efefef;
        line-height: 58px; }
  .main-header .active-item {
    background: #666666; }
  .main-header .main-menu-lg {
    float: left;
    width: 300px;
    height: 60px;
    margin-left: 10px; }
    .main-header .main-menu-lg a {
      display: inline-block;
      width: 100px;
      height: 60px;
      line-height: 60px;
      margin: 0 -2px;
      text-decoration: none;
      color: #efefef;
      text-align: center; }
      .main-header .main-menu-lg a .down-arrow {
        width: 10px;
        height: 5px;
        display: inline-block;
        background-image: url("../img/down-arrow.png");
        background-repeat: no-repeat;
        background-size: contain; }
  .main-header .platform-list-lg {
    display: inline-block;
    width: 200px;
    height: auto;
    margin-top: 60px;
    margin-left: -255px;
    position: absolute;
    z-index: 10;
    -webkit-animation: platformsLg 0.2s;
    -moz-animation: platformsLg 0.2s;
    -o-animation: platformsLg 0.2s;
    -ms-animation: platformsLg 0.2s;
    animation: platformsLg 0.2s; }
    .main-header .platform-list-lg a {
      display: block;
      width: 100%;
      height: 60px;
      background: #3d3d3d;
      color: #efefef;
      text-align: center;
      line-height: 60px;
      text-decoration: none; }
      .main-header .platform-list-lg a:hover {
        background: #666666; }
@-webkit-keyframes platformsLg {
  0% {
    opacity: 0;
    width: 180px;
    margin-left: -245px; }
  100% {
    opacity: 1;
    width: 200px; } }
@-moz-keyframes platformsLg {
  0% {
    opacity: 0;
    width: 180px;
    margin-left: -245px; }
  100% {
    opacity: 1;
    width: 200px; } }
@-o-keyframes platformsLg {
  0% {
    opacity: 0;
    width: 180px;
    margin-left: -245px; }
  100% {
    opacity: 1;
    width: 200px; } }
@-ms-keyframes platformsLg {
  0% {
    opacity: 0;
    width: 180px;
    margin-left: -245px; }
  100% {
    opacity: 1;
    width: 200px; } }
@keyframes platformsLg {
  0% {
    opacity: 0;
    width: 180px;
    margin-left: -245px; }
  100% {
    opacity: 1;
    width: 200px; } }
  .main-header .search-container-lg {
    position: absolute;
    width: 500px;
    height: 40px;
    background: #3d3d3d;
    margin-top: 60px;
    margin-left: 250px;
    z-index: 10;
    -webkit-animation: searchLg 0.3s;
    -moz-animation: searchLg 0.3s;
    -o-animation: searchLg 0.3s;
    -ms-animation: searchLg 0.3s;
    animation: searchLg 0.3s; }
    .main-header .search-container-lg .search-lg {
      display: inline-block;
      width: 400px;
      height: 30px;
      margin-left: 10px;
      margin-top: 5px;
      padding-left: 5px; }
    .main-header .search-container-lg .search-btn-lg {
      position: absolute;
      top: 5px;
      width: 80px;
      height: 30px;
      background: #efefef;
      border: 1px solid #3d3d3d;
      border-left: none;
      text-decoration: none;
      color: #3d3d3d;
      text-align: center;
      line-height: 30px; }
@-webkit-keyframes searchLg {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes searchLg {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes searchLg {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes searchLg {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes searchLg {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .main-header .login-logout-lg {
    float: right;
    width: 200px;
    height: 60px; }
    .main-header .login-logout-lg a {
      display: inline-block;
      width: 100px;
      height: 60px;
      line-height: 60px;
      margin: 0 -2px;
      text-decoration: none;
      color: #efefef;
      text-align: center; }
  .main-header .show-hide-menu-sm {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    padding-top: 5px;
    float: right; }
    .main-header .show-hide-menu-sm.active {
      background: #666666; }
    .main-header .show-hide-menu-sm .menu-line {
      width: 30px;
      height: 10px;
      margin: 0 auto;
      border-bottom: 2px solid #efefef; }
  .main-header .main-menu-sm {
    width: 100%;
    height: auto;
    display: block;
    float: left; }
    .main-header .main-menu-sm .platform-list-sm {
      display: inline-block;
      width: 100%;
      height: auto;
      float: left; }
      .main-header .main-menu-sm .platform-list-sm a {
        display: inline-block;
        width: 100%;
        height: 60px;
        background: #3d3d3d;
        color: #efefef;
        text-align: center;
        line-height: 60px;
        text-decoration: none; }
        .main-header .main-menu-sm .platform-list-sm a:hover {
          background: #666666; }
    .main-header .main-menu-sm .search-container-sm {
      display: inline-block;
      position: relative;
      width: 100%;
      height: 60px;
      background: #3d3d3d; }
      .main-header .main-menu-sm .search-container-sm .search-sm {
        display: inline-block;
        width: 70%;
        height: 50px;
        margin-top: 5px;
        margin-left: 10px;
        padding-left: 5px;
        padding-right: 10px; }
      .main-header .main-menu-sm .search-container-sm .search-btn-sm {
        position: absolute;
        top: 4px;
        right: 10px;
        width: 28%;
        height: 50px;
        border: 1px solid #3d3d3d;
        margin-top: 1px;
        margin-left: -5px;
        background: #efefef;
        color: #3d3d3d;
        text-align: center;
        line-height: 50px; }
    .main-header .main-menu-sm a {
      display: inline-block;
      width: 100%;
      height: 60px;
      text-align: center;
      line-height: 60px;
      color: #efefef;
      background: #3d3d3d;
      text-decoration: none; }
      .main-header .main-menu-sm a:hover {
        background: #666666; }
      .main-header .main-menu-sm a .down-arrow {
        width: 10px;
        height: 5px;
        display: inline-block;
        background-image: url("../img/down-arrow.png");
        background-repeat: no-repeat;
        background-size: contain; }
  .main-header .login-modal {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 400px;
    height: 280px;
    margin: auto;
    background: #efefef;
    border: 2px solid #3d3d3d;
    z-index: 20;
    -webkit-animation: loginModal 0.3s;
    -moz-animation: loginModal 0.3s;
    -o-animation: loginModal 0.3s;
    -ms-animation: loginModal 0.3s;
    animation: loginModal 0.3s; }
    .main-header .login-modal .login-success {
      position: absolute;
      top: 10px;
      left: 70px;
      font-weight: bold; }
    .main-header .login-modal .login-error {
      position: absolute;
      top: 50px;
      left: 70px;
      font-weight: bold; }
    .main-header .login-modal .login-form {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: 50px;
      width: 90%;
      height: 220px; }
@-webkit-keyframes loginModal {
  0% {
    width: 380px;
    height: 260px;
    opacity: 0; }
  100% {
    width: 400px;
    height: 280px;
    opacity: 1; } }
@-moz-keyframes loginModal {
  0% {
    width: 380px;
    height: 260px;
    opacity: 0; }
  100% {
    width: 400px;
    height: 280px;
    opacity: 1; } }
@-o-keyframes loginModal {
  0% {
    width: 380px;
    height: 260px;
    opacity: 0; }
  100% {
    width: 400px;
    height: 280px;
    opacity: 1; } }
@-ms-keyframes loginModal {
  0% {
    width: 380px;
    height: 260px;
    opacity: 0; }
  100% {
    width: 400px;
    height: 280px;
    opacity: 1; } }
@keyframes loginModal {
  0% {
    width: 380px;
    height: 260px;
    opacity: 0; }
  100% {
    width: 400px;
    height: 280px;
    opacity: 1; } }
  .main-header .register-modal {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 650px;
    background: #efefef;
    border: 2px solid #3d3d3d;
    z-index: 20;
    -webkit-animation: registerModal 0.3s;
    -moz-animation: registerModal 0.3s;
    -o-animation: registerModal 0.3s;
    -ms-animation: registerModal 0.3s;
    animation: registerModal 0.3s; }
    .main-header .register-modal .register-form {
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      margin: auto;
      width: 90%;
      height: 580px; }
@-webkit-keyframes registerModal {
  0% {
    width: 380px;
    height: 630px;
    opacity: 0; }
  100% {
    width: 400px;
    height: 650px;
    opacity: 1; } }
  .main-header .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 720px;
    background: black;
    opacity: 0.4;
    z-index: 19; }
  .main-header .loading-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #efefef;
    z-index: 9001; }
    .main-header .loading-overlay img {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto; }

.platforms-list div {
  margin: 20px 0;
  height: 200px; }
  .platforms-list div a {
    width: 90%;
    height: 100%;
    display: block;
    margin: auto;
    color: #efefef;
    text-shadow: 0 0 2px black;
    text-decoration: none; }
    .platforms-list div a:hover h2 {
      color: #efefef; }
    .platforms-list div a img {
      width: 100%;
      height: auto; }
    .platforms-list div a h2 {
      margin: 0;
      padding: 5px;
      background: #3d3d3d;
      border-bottom: 2px solid #ffe400; }

.platform-title a {
  display: inline-block;
  float: right;
  margin-top: 30px; }

@media screen and (max-width: 767px) {
  .main-header .main-menu-lg {
    display: none; }
  .main-header .login-logout-lg {
    display: none; }
  .main-header .show-hide-menu-sm {
    display: inline-block; }
  .main-header .main-menu-sm {
    display: block; }
  .main-header .platform-list-lg {
    display: none; }
  .main-header .search-container-lg {
    display: none; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .main-header .main-menu-lg {
    display: inline-block; }
  .main-header .login-logout-lg {
    display: inline-block; }
  .main-header .show-hide-menu-sm {
    display: none; }
  .main-header .main-menu-sm {
    display: none; } }
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .main-header .main-menu-lg {
    display: inline-block; }
  .main-header .login-logout-lg {
    display: inline-block; }
  .main-header .show-hide-menu-sm {
    display: none; }
  .main-header .main-menu-sm {
    display: none; } }
@media screen and (min-width: 1200px) {
  .main-header .main-menu-lg {
    display: inline-block; }
  .main-header .login-logout-lg {
    display: inline-block; }
  .main-header .show-hide-menu-sm {
    display: none; }
  .main-header .main-menu-sm {
    display: none; } }

/*# sourceMappingURL=default.css.map */
